*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  max-width: 1200px;
  margin: auto;
  padding: 50px 0;
  width: 80%;
}

.app .box:first-child .container-box{
  padding-bottom: 0;
}

.container-box{
  width: 80%;
  margin: auto;
  padding: 50px 0;
}

.box{
  background-color: #A7D5FF;
  border-radius: 20px;
  margin-bottom: 30px;
  text-align: center;
}

header{
  width: 100%;
  height: 100px;
  background-color: #0C6BFB;
  color: white;
  padding: 30px;
}

header .fa-solid{
  font-size: 30px;
}

header .menu{
  display: none;

}

.head-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.planning, .benefits, .cda{
  background-color: #827DE0;
}

.app .box:first-child{
  text-align: left;
}

.app .box h2{
  color: #0C6BFB;
  margin-bottom: 30px;
}

.app .box p{
  line-height: 1.6;
  margin-bottom: 30px;
}

.app .box a{
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: white;
  text-decoration: none;
  background-color: #0C6BFB;
  padding: 15px 60px;
  border-radius: 50px;
  display: inline-block;
  margin-bottom: 30px;
}

.app .box a .fa-brands{
  padding-right: 5px;
}

.app .box img{
  width: auto;
  max-width: 100%;
  max-height: 300px;
  display: block;
}

.app .box .fa-solid{
  font-size: 100px;
  color: #0C6BFB;
  margin-bottom: 30px;
}

@media (min-width:700px){
  .app .container{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .app .box:first-child{
    width: calc(100% - 100%/3 - 20px);
  }
  .app .box{
    width: calc(100% / 3 - 20px);
  }
  .app .box img{
    display: block;
    max-height: 400px;
    width: auto;
  }
}

.planning .box{
  background-color: transparent;
  color: white;
  text-align: left;
  padding: 30px;
}

.planning .box h2{
  font-size: 40px;
  margin-bottom: 30px;
}

.planning .box p{
  line-height: 1.6;
  margin-bottom: 30px;
}

.planning .box img{
  width: 100%;
  margin-bottom: 30px;
}

.planning .box:last-child{
  font-style: oblique;
  background-color: white;
  text-align: center;
  color: black;
}

.planning .box i{
  padding: 10px 15px;
  font-size: 30px;
  margin-bottom: 30px;
  background-color: #847CDE;
  border-radius: 50%;
}

@media (min-width:1080px){
  .head-container{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .head-container i{
    display: none;
  }
  header .menu{
    display: flex;
    list-style: none;
  }
  header .menu li{
    margin: 10px;
  }
  .app .container-big-box{
    display: flex;
    flex-direction: row;
  }
  .app .container-box{
    padding-bottom: 0;
    padding-top: 50px;
  }
  .app .container-big-box{
    height: 100%;
  }
  .app .img img{
    height: 100%;
    width:max-content;
  }
  .planning .container{
    display: flex;
    align-items: flex-end;
  }
  .planning .box-left img{
    margin-bottom: 100px;
  }
  .planning .box-left p{
    margin-bottom: 0;
  }
  .planning .box-left{
    width: 50%;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .planning .box-right{
    margin-bottom: 0;
    width: 40%;
  }
  .planning .box-right img{
    width: 60%;
  }
  .planning .box-right h2{
    font-size: 30px;
  }
}